<div class="sidebar p-3 bg-dark text-white position-fixed" style="width: 250px; height: 100vh; top: 0; left: 0; overflow-y: hidden;">
  <h2 class="mt-5">Admin Dashboard</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/admin-collection">Collection</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/create">Add Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/admin/manage-orders"
        >Manage Orders</a
      >
  </ul>
</div>
